.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #495057;
  color: #fff;
}

#sidebar .sidebar-header {
  padding: 15px;
  background: #e76f51;
}

#sidebar ul.components {
  padding: 10px 0;
}

#sidebar ul p {
  color: #fff;
  padding-left: 10px;
  font-size: 20px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}
#sidebar ul li a:hover {
  color: #ffffff;
  background: #6c757d;
  text-decoration: none;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #0081a7;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #0081a7;
}
.sesionLink {
  position: fixed;
  width: 250px;
  bottom: 0;
}
